<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/JSON_created">
        <table>
            <tr>
                <td>command ID:</td>
                <td><input name="id" type="text"/></td>
            </tr>
            <tr>
                <td>command name:</td>
                <td><input name="name" type="text"/></td>
            </tr>
            <tr>
                <td>command type:</td>
                <td><input name="type" type="text"/></td>
            </tr>
            <tr>
                <td>command bot name:</td>
                <td><input name="bot_name" type="text"/></td>
            </tr>
            <tr>
                <td>start time:</td>
                <td><input name="start" type="time"/></td>
            </tr>
            <tr>
                <td>end time:</td>
                <td><input name="end" type="time"/></td>
            </tr>
            <tr>
                <td>targets:</td>
                <td><input name="targets" type="text"/></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>